<div class="password-manager">
  <h1>Password Manager</h1>

  <div class="password-form" [style.display]="showMasterPasswordField ? 'block' : 'none'">
    <h2>Type your master password</h2>
    <form>
      <input #masterPassword type="password" placeholder="Master password" required>
      <button (click)="getPasswords(masterPassword.value)" type="button">Submit</button>
    </form>
  </div>

  <!-- Add New Password Form -->
  <div [style.display]="correctMasterPassword ? 'block' : 'none'" class="password-form">
    <h2>Add New Password</h2>
    <form>
      <input #website type="text" placeholder="Website/App Name"  required>
      <input #username type="text" placeholder="Username/Email"  required>
      <input #password  placeholder="Password" required>
      <input #repeatPassword  placeholder="Repeat Password" required>
      <div class="PasswordWarning" *ngIf="passwordErrorMessage">
        <div>
          {{passwordErrorMessage}}
        </div>
      </div>
      <form class="button-layout">
        <button (click)="generateSecurePassword(password, repeatPassword)" type="submit">Generate</button>
        <button (click)="addPassword(website.value, username.value, password.value, repeatPassword.value)" type="submit">Add</button>
      </form>
    </form>
  </div>

  <!-- Password List -->
  <div class="password-list" [style.display]="correctMasterPassword ? 'block' : 'none'">
    <h2>Password List</h2>
    <ul>
      <li *ngFor="let password of decryptedPasswords">
        <strong>{{ password.website }}</strong>
        <p>Username: {{ password.username }}</p>
        <p>Password: {{ password.password }}</p>
        <button (click)="deletePassword(password.id)" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
