<div class="password-manager">
  <h1>Password Manager</h1>

  <div class="password-form" [style.display]="showLoginScreen ? 'block' : 'none'">
    <h2>Login</h2>
    <form >
      <input #email type="text" placeholder="Email" required>
      <input #password type="password" placeholder="Password" required>
      <button (click)="login(password.value, email.value)" type="button">Submit</button>
    </form>
  </div>

  <div [style.display]="showLoginScreen ? 'block' : 'none'" class="password-form">
    <h2>Create a new user</h2>
    <form>
      <input #newUserEmail type="text" placeholder="Email"  required>
      <input #newUserPassword type="password" placeholder="Password"  required>
      <form class="button-layout">
        <button (click)="createUser(newUserPassword.value, newUserEmail.value)" type="submit">Create user</button>
      </form>
    </form>
  </div>

  <!-- Add New Password Form -->
  <div [style.display]="correctMasterPassword ? 'block' : 'none'" class="password-form">
    <h2>Add New Password</h2>
    <form>
      <input #website type="text" placeholder="Website/App Name"  required>
      <input #username type="text" placeholder="Username/Email"  required>
      <input #newPassword placeholder="Password" required>
      <input #repeatPassword placeholder="Repeat Password" required>
      <div class="PasswordWarning" *ngIf="passwordErrorMessage">
        <div>
          {{passwordErrorMessage}}
        </div>
      </div>
      <form class="button-layout">
        <button (click)="generateSecurePassword(newPassword, repeatPassword)" type="submit">Generate</button>
        <button (click)="addPassword(website.value, username.value, newPassword.value, repeatPassword.value)" type="submit">Add</button>
      </form>
    </form>
  </div>

  <!-- Password List -->
  <div class="password-list" [style.display]="correctMasterPassword ? 'block' : 'none'">
    <h2>Password List</h2>
    <ul>
      <li *ngFor="let password of decryptedPasswords">
        <strong>{{ password.website }}</strong>
        <p>Username: {{ password.username }}</p>
        <p>Password: {{ password.password }}</p>
        <button (click)="deletePassword(password.id)" type="button">Delete</button>
      </li>
    </ul>
  </div>
</div>
