<div class="password-manager">
  <h1>Password Manager</h1>

  <div class="password-form">
    <h2>Type your master password</h2>
    <form>
      <input #masterPassword type="password" placeholder="Master password" required>
      <button (click)="getPasswords(masterPassword.value)" type="button">Submit</button>
    </form>
  </div>

  <!-- Add New Password Form -->
  <div class="password-form">
    <h2>Add New Password</h2>
    <form>
      <input #website type="text" placeholder="Website/App Name"  required>
      <input #username type="text" placeholder="Username/Email"  required>
      <input #password type="password" placeholder="Password" required>
      <button (click)="addPassword(website.value, username.value, password.value)" type="submit">Add</button>
    </form>
  </div>

  <!-- Password List -->
  <div class="password-list">
    <h2>Password List</h2>
    <ul>
      <li *ngFor="let password of encryptedPasswords">
        <strong>{{ password.website }}</strong>
        <p>Username: {{ password.username }}</p>
        <p>Password: {{ password.password }}</p>
        <button (click)="deletePassword(password.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
